.flashing-count {
    transition: color 0.5s ease-in-out; /* smooth color transition */
}

.flash-green {
    animation: flashGreen 1s forwards; /* green flash animation */
}

.flash-red {
    animation: flashRed 1s forwards; /* red flash animation */
}

@keyframes flashGreen {
    0% {
        color: green;
    }
    50% {
        color: green;
    }
    100% {
        color: inherit; /* revert to original color */
    }
}

@keyframes flashRed {
    0% {
        color: red;
    }
    50% {
        color: red;
    }
    100% {
        color: inherit; /* revert to original color */
    }
}
